@import "~bootstrap/scss/functions";

//Customizando Bootstrap
$primary: #ff7a00;
$secondary: #ffbd80;
// $success: $green;
$info: #999999;
// $warning: $yellow;
// $danger: $red;
$light: #f6f6f6;
// $dark: $gray-900;

// Actualizando la forma de visualizar los formularios
$input-border-color: $primary;
$input-border-radius: 0;
$input-border-radius-sm: 0;
$input-border-radius-lg: 0;

// Actualizando la forma de visualizar los botones
$btn-border-radius: 0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.color-wh {
  color: white;
}
