@import "~bootstrap/scss/functions";

//Customizando Bootstrap
$primary: #ff7a00;
$secondary: #ffbd80;
// $success: $green;
$info: #999999;
// $warning: $yellow;
// $danger: $red;
$light: #f6f6f6;
// $dark: $gray-900;

@import "~bootstrap/scss/bootstrap";

.App {
  text-align: center;
}

.color-wh {
  color: white;
}
